# Ignore credentials file
scripts/mailProfs.py
scripts/gmailProfs.py
scripts/mailProfsCredentials.json
scripts/gmailProfsCredentials.json
scripts/token.json
scripts/analyticsCredentials.js
scripts/analyticsTracking.js

# Ignore Python cache
__pycache__/
*.pyc