/****************************** WORKS PAGE CONTENT ******************************/
/* General Styling */
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    z-index: 1;
}